{% extends 'hotelinfo/base.html' %}

{% block title %}
    Error Deleting Room Type
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Room Type</h2>
        <p>
            You may not delete room type {{ roomtype }}.  This
            room type is currently assigned to the following
            rooms:
        </p>

        <ul>
            {% for room in rooms %}
            <li><a href="{{ room.get_absolute_url }}">{{ room }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'hotelinfo_room_type_list_urlpattern' %}">Room Type List</a>.
        </p>
    </div>
{% endblock %}
